@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --width-footer-box: 372px;
    @apply text-base leading-5 font-normal;
  }
  h1 {
    @apply text-8xl leading-[1.2] font-bold;
  }
  h2 {
    @apply text-[64px] leading-[1.4375] font-bold;
  }
  h3 {
    @apply text-5xl leading-[4.5rem] font-bold;
  }
  h4 {
    @apply text-[40px] leading-normal font-bold;
  }
  h5 {
    @apply text-[32px] leading-normal font-bold;
  }
  h6 {
    @apply text-2xl leading-8 font-bold;
  }
  p {
    @apply text-base leading-5 font-normal;
  }
}

@layer utilities {
  .subheading {
    @apply text-lg leading-6 font-semibold;
  }
  .subtitle {
    @apply text-sm font-normal;
  }
  .caption {
    @apply text-xs font-normal;
  }
   ::-webkit-scrollbar {
    @apply w-1;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-secondary-500 rounded-sm;
  }
}

@layer components {
  .footer-content-lg {
    @apply flex-row justify-between;
  }
  .footer-subcontent-lg {
    @apply w-[var(--width-footer-box)] items-start;
  }

  .footer-subcontent-2xl {
    @apply w-full min-w-[var(--width-footer-box)];
  }

  .footer-copyright-lg {
    @apply flex-row justify-between;
  }

}

.border-focus-primary:focus {
  @apply border-primary;
}